.board {
  width: 700px;
  height: 700px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: 4px solid #333;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.piece {
  cursor: grab;
  user-select: none;
  font-size: 60px;

}

.cdk-drag-preview {
  font-size: 38px;
}

.cdk-drag-placeholder {
  opacity: 0;
}
.turn {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 20PX;
}
